<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>

<h1>用户登录</h1>
<form method="post" th:action="@{/doLogin}">
    用户名: <input name="username" type="text"> <br>
    密码: <input name="password" type="password"> <br>
    <button>登录</button>
</form>
<div th:text="${SPRING_SECURITY_LAST_EXCEPTION}">
</div>
<hr>
<!--<ul>
    <li sec:authentication="principal.username"></li>
    <li sec:authentication="principal.authorities"></li>
    <li sec:authentication="principal.accountNonExpired"></li>
    <li sec:authentication="principal.accountNonLocked"></li>
</ul>-->

</body>
</html>