<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <label for="gentle">
        <input type="radio" id="gentle" name="gender" value="男" v-model="gender">男
    </label>
    <label for="lady">
        <input type="radio" id="lady" name="gender" value="女" v-model="gender">女
    </label>
    <h2>您选择的性别是: {{gender}}</h2>
</div>
<script src="../js/vue.js"></script>
<script>
    const vue = new Vue({
        el: '#app',
        data: {
            message: '你好啊',
            gender: '',
        },
    })
</script>
</body>
</html>